<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I know how to control the content of a web application using html5 markup language and pimping up with CSS using bootstrap framework to enhance the design of the site </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>My current job as a junior developer gave me the invaluable opportunity to learn a large amount of logic programming languages in both back-end and front-end.
        I am comfortable writing in nodejs using an intuitive and powerful framework called <a href="https://hapijs.com/">hapi</a>
        for serving resources and integrating with external APIs that our in-house CMS Software required for the business.
      </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <p>I am fan #1 of Git for the reason that it is a great tool to help enable and improve collaboration with your peers. It is a version control system that tracks changes to files in projects. Records what the changes were like what was added? and what was removed from the file?, who made the change, notes and comments about the change and at what time the change was made. </p>
    </div>
  </div>
</div>
