<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I know how to control the content of a web application using html5 markup language and pimping up with CSS using bootstrap framework to enhance the design of the site </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>My current job as a junior developer gave me the invaluable opportunity to learn a large amount of logic programming languages in both back-end and front-end.
        I am comfortable writing in nodejs using an intuitive and powerful framework called <a href="https://hapijs.com/">hapi</a>
        for serving resources as well as integrating APIs that our onsite CMS Software may require to connect with an external entity.
      </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
