<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/chirper.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Chirper </h5>
      <li> Featured Skills</li>
      <p>Chirper is a Twitter-clone built app with Ember.js that I created in order to practice and improve my knowledge about the framework. I used S3 service from AWS to upload the application on the internet and learn about the process of deploying to Amazon S3 Bucket. </p>
      <a class="project-link" href="http://ember-app-web-index.s3-website.eu-west-2.amazonaws.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/cinema.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Vue.js Cinema App </h5>
      <ul>
        <li> Features include </li>
      </ul>
      <p>App built using Vue.js framework. The API always returns the same movies. It provides the option to filter by genre, time and select even for other date than today.</p>
      <a class="project-link" href="https://whispering-hollows-66081.herokuapp.com/#/">Check it out</a>
    </div>
  </div>
</div>
